<app-menu></app-menu>
<div>
    <span id="pageTitle">Edit RequestLine</span>
</div>
<table *ngIf="requestline" class="'table table-sm">
    <tbody>
        <tr>
            <th>Id</th>  
            <td><input [(ngModel)]="requestline.id" text="number" disabled> </td>
        </tr>
        <tr>
            <th>Product</th>  
            <td><select [(ngModel)]="requestline.productId" id=""></select>
            <option *ngFor="let p of product" value="{{p.id}}">{{p.name}}</option>
            </td>
        </tr>
        <tr>
            <th>Quantity</th>  
            <td><input type="number"></td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
</div>

