<app-menu></app-menu>
<div>
    <span id="pageTitle">Request Review</span> |
    
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th *ngIf="request.rejectionReason">Rejection Reason</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td *ngIf="request.rejectionReason">{{request.rejectionReason}}</td>
            <td>{{ request.total | currency }}</td>
            <td *ngIf="request.user">{{ request.user.username }}</td>
        </tr>
        </tbody>
    </table>
<hr>
    <table class="table table-sm">
     <thead>
         <tr>
             <th>Id</th>
             <th>Product</th>
             <th>Quantity</th>
             <th>Price</th>
             <th>Line Total</th>
            </tr>
     </thead>
        <tbody>
            <tr *ngFor = "let rl of request.requestLines">
                <td>{{ rl.id }}</td>
                <td>{{ rl.product.name}} </td>
                <td>{{ rl.quantity }}</td>
                <td>{{ rl.product.price | currency }}</td>
                <td>{{ rl.product.price * rl.quantity | currency }}</td>
                </tr>
            </tbody>  
        </table>
        <p>
            <button (click)="approve()" class="btn btn-link text-success clickable">Approve</button>
            <button (click)="reject()" class="btn btn-link text-danger  clickable">Reject</button>
            
            <span *ngIf="showVerifyButton">
                <input [(ngModel)]="request.rejectionReason" type="text">
                <button (click)="verifyReject()" class="btn btn-link text-danger  clickable">Verify Reject</button>
            </span>
        </p>
    
    